<div class="content" id="small-about">
  <hr>
  <img src="https://pbs.twimg.com/profile_images/1663232328/pablete_avatar.jpg" alt="{{ site.autor }}" width="55" height="55">
  <a href="/">{{ site.author }}</a><br />
  Data Scienctist/Engineer working at Opentable Inc.<br />
   <a href="https://twitter.com/pablete" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @pablete</a>
   <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </p>


  <small><span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span> - Theme by <a href="http://alexgaribay.com">Alex Garibay</a></small>
</div>

