// Customize the colors of Octoflat Here

// 002EA7 YVES KLEIN BLUE
// FFFFF3 EDWARD TUFTE BACKGROUND
// fff1e0 FT.com

$primary-color:      #00000B; //0002EA7; //#22252A; //666666; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #002EA7; // yves klein blue // Tags, Links, Main Heading, Quote Border
$tertiary-color:     #8C8781; // Hover-over color, Active Page color
$accent-color1:      #CCCCCC; //FF0000; //2C3E50; // Hover-over background color for tags
$accent-color2:      #00000B; //ffffff; //34495E; // Sub-headings, Date Stamp
$accent-color3:      #ffffff; // Navbar Text, Tag text
$navbar-color:       #161616; //002EA7; //#081325; // Navbar
$bg-color:           #FFFFF3; // Background (Edward tufte FFFFF3)
$code-bg-color:      #2C3E50; // Code background
$quote-color:        #E74C3C; // Quote Color
$text-color:         #5B4E36;

$footer-color:       #7F8C8D; // Footer
//#22252A
